// This is a template room 

// Description of the room. Get creative, include any details you want such as how you got here, what you see, hints on where to go next
description "You find yourself alone in a stone chamber. Well, I'm here too but like I said, not helping. There is a door in the north end of the room."

// Actions
// there are two standard actions you can take, move and dialog, in each the first string must be the command name
// move will move the player to another tile, the next property is the x, y, and z coordinates of the next tile
// if omitted the move will advance in the direction requested
// dialog will share a message a re-prompt the player for an action
north "move" {1, 0, 1}
south "dialog" "That's a wall."
east "dialog" "You find a wall. Lovely stone and moss wall."
west "dialog" "You're looking at a wall... and a rather annoyed spider."
up "dialog" "We call that a cieling, it's a ways up there though."
down "dialog" "Despite your best efforts you fail to phase through the floor."

// Inventory
// Rooms have stuff, users can discover stuff with inspect and transfer it to their inventory if allowed
inventory
  item {
    id 0 // Give each item a  unique ID
    name "a strange note"
    description "It's a note written in a language unknown to you.\nYour best guess to its meaning is \"Cats fear pickles\" but\nthat's nonsense. Why would you even think that?"
    infinite true // Allow an item to be used as often as the player wants
    //uses: 1 // Set how many times the item can be used (requires infinite: false)
    transferable true
  }
  item {
    id 1
    name "a tarnished coin"
    description "Well that's not worth much. Round though. 'Marui' one might say."
    infinite true
    transferable true
  }